@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: black;
    grid-template-rows: auto 1fr auto;
}

nav {
    overflow: hidden;
    width: 100%;
    background-color: pink;
    float: top;
  }

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    font-family: Dancing Script, cursive;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
}

#logo {
    font-family: Dancing Script, cursive;
    color: black;
    text-align: center;
    padding: 10px;
    float: left;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 30px;
  }
  #ecrismoi {
    font-family: Dancing Script, cursive;
    color: black;
    text-align: center;
    padding: 10px;
    float: right;
    font-size: 2rem;
    font-weight: bold;
  }
.flexbox #fl1 {
    list-style: none;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px
}
.flexbox ul #fl1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#fl {
    display: flex;
    padding: 0px;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#fleur1 {
    height: 150px;
    width: 150px;
justify-content: center;
align-items: center;
padding-right: 20px;
}

#mel {
    color: pink;
    text-align: center;
    font-size: 7rem;
}
#fleur2 {
    height: 150px;
    width: 150px;
    justify-content: center;
    padding-left: 20px;
}

#intro {
    text-align: center;

}
h2 {
    font-family: Dancing Script, cursive;
    color: pink;
    padding: 0px;
    margin: 0px;
    font-size: 3rem;
}

p {
    color: pink;
    font-family: Dancing Script, cursive;
    font-size: 2rem;
}

.flexbox {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    min-height: 15px;
}

.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.flexbox li #photos {
    background: url(img/melanie-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
   height: 250px;
   width: 250px;
   display: flex;
   text-align: center;
   justify-content: center;
   border-radius: 15px;
   color: pink;
   box-shadow: 8px 8px 20px pink ;
}
.flexbox li #photos:hover {
   transition: 0.5s ease-in-out;
   opacity: 0.9;
   transform: scale(1.1);
   box-shadow: 0px 0px 20px 8px rgb(163, 140, 8);
   color:rgb(153, 140, 8);
}
.flexbox li #videos {
    background: url(img/Tjq9WOgTHt.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
   height: 250px;
   width: 250px;
   display: flex;
   text-align: center;
   justify-content: center;
   border-radius: 15px;
   color: pink;
   align-items: center;
   box-shadow: 8px 8px 20px pink ;
}
.flexbox li #videos:hover {
    transition: 0.5s;
    opacity: 0.9;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 8px rgb(153, 140, 8) ;
    color: rgb(153, 140, 8) ;
 }
.flexbox li #houlala {
    background: url(img/houlala-5.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
   height: 250px;
   width: 250px;
   display: flex;
   text-align: center;
   justify-content: center;
   border-radius: 15px;
   color: pink;
   box-shadow: 8px 8px 20px pink ;
}
.flexbox li #houlala:hover {
    transition: 0.5s;
    opacity: 0.9;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 8px rgb(153, 140, 8) ;
    color: rgb(153, 140, 8) ;
 }