
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: black;
}

nav {
    overflow: hidden;
    width: 100%;
    background-color: pink;
    float: top;
  }

#fleur {
    height: 300px;
    width: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  }

  li {
    list-style: none;
}
a {
  margin-left: 80px;
}
#home {
  font-family: Dancing Script, cursive;
  color: black;
  text-align: center;
  padding: 10px;
  float: left;
  font-size: 2rem;
  font-weight: bold;
}

.flexbox #titres {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
#vid {
border: none;
padding-top: 0;
padding-bottom: 0;
margin-top: -50px;
margin-bottom: -50px;
}

  #titres {
    list-style: none;
    color: pink;
    font-family: Dancing Script, cursive;
    text-align: center;
    font-size: 4rem;
    margin: 0;
  }

  #photos, #houlala {
    color: pink;
    opacity: 0.7;
    font-size: 3rem;
    }
    
    #photos:hover, #houlala:hover {
      transition: 0.4s;
      opacity: 1.2;
      font-size: 1.1em;
    }
    h1 {
      color: pink;
      font-family: Dancing Script, cursive;
      text-align: center;
      font-size: 4rem;
  }
.flexbox {
    border: 5px solid pink;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 20px;
    min-height: 150px;
    }

.flexbox ul {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap
    }

#video {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    padding-top: 10px;
    margin: 20px;
}

#bord {
  border: 2px solid pink;
  border-radius: 10px;
margin: 10px;

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: black;
}

nav {
    overflow: hidden;
    width: 100%;
    background-color: pink;
    float: top;
  }

#fleur {
    height: 300px;
    width: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  }

  li {
    list-style: none;
}
a {
  margin-left: 80px;
}
#home {
  font-family: Dancing Script, cursive;
  color: black;
  text-align: center;
  padding: 10px;
  float: left;
  font-size: 2rem;
  font-weight: bold;
}

.flexbox #titres {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
#vid {
border: none;
padding-top: 0;
padding-bottom: 0;
margin-top: -50px;
margin-bottom: -50px;
}

  #titres {
    list-style: none;
    color: pink;
    font-family: Dancing Script, cursive;
    text-align: center;
    font-size: 4rem;
    margin: 0;
  }

  #photos, #houlala {
    color: pink;
    opacity: 0.7;
    font-size: 3rem;
    }
    
    #photos:hover, #houlala:hover {
      transition: 0.4s;
      opacity: 1.2;
      font-size: 1.1em;
    }
    h1 {
      color: pink;
      font-family: Dancing Script, cursive;
      text-align: center;
      font-size: 4rem;
  }
.flexbox {
    border: 5px solid pink;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 20px;
    min-height: 150px;
    }

.flexbox ul {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap
    }

#video {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    padding-top: 10px;
    margin: 20px;
}

#bord {
  border: 2px solid pink;
  border-radius: 10px;
margin: 10px;
>>>>>>> d6be8432658e39331f25dcb7508a3386ab3ad193
}